h3{
    font-family: "Montserrat-Black", sans-serif;
    font-weight: 900;
    font-size: 1.5rem;
}

h2{
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
}


p{
    font-family: 'Montserrat', sans-serif;
    color: #8f8f8f
}


#title{
    background-color: #ff4c68;
    color: white;
}


.firstText{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 900;
}

.container-fluid{
    padding: 3% 15%;
}

h1{
    font-family: "Montserrat-Black", sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
}


/* Navigation Bar */

.navbar {
    padding-bottom: 4.5rem;
}

#brandTitle{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat-Light";
}

/* Download Buttons */

.download-button{
    margin: 5% 3% 5% 0;
}




.title-image{
    width: 17%;
    transform:rotate(25deg);
    position: absolute;
    top: 10rem;
    right: 28%;
}

/* Features section */

#features{
    position: relative;
    background-color: white;
    padding: 7% 15%;
    z-index: 1;
}

#details{
    text-align: center;
    padding: 4.5%;
}

#circleIcon{
    font-size: 3.5rem;
    line-height: 1.5;
    color: #ef8172;
    margin-bottom: 1rem;
}

#circleIcon:hover{
    color:#ff4c68;
}

#bullseye{
    font-size: 3.5rem;
    line-height: 1.5;
    color: #ef8172;
    margin-bottom: 1rem;
}

#bullseye:hover{
    color:#ff4c68;
}

#heart{
    font-size: 3.5rem;
    line-height: 1.5;
    color: #ef8172;
    margin-bottom: 1rem;
}

#heart:hover{
    color: #ff4c68;
}

/* Testimonial Section */

#testimonials{
    text-align: center;
    background-color: #ef8172;
    color: white;
}


.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press{
    background-color: #ef8172;
    text-align: center;
    padding: 3%;
}

#press img{
    width: 15%;
    margin: 20px 20px 50px;
}


.carousel-item{
    padding: 7% 15%;
}

/*  Pricing Section */

#pricing{
    padding: 100px;
    text-align: center;
}

.pricing-column{
    padding: 3% 2%;
}


#cta{
    color: white;
    padding: 7% 15%;
    text-align: center;
    background-color: #ff4c68;
}



.cta-text{
    font-family: "Montserrat";
    font-size: 3rem;
    font-weight: 900;
    width: 45rem;
    margin: auto;
}

#cta button{
    margin: 5% 3% 5% 0;
}

.iconFooter{
    margin: 0.5rem;
}

#footer{
    text-align: center;
    padding: 5% 15%;
}


@media (max-width:1256px){

    #title{
        text-align: center;
    }

    .title-image{
        position: static;
        width: 60%;
        transform: rotate(0);
    }

}

@media (min-width: 1256px) and (max-width: 1650px){
    .title-image{
        width: 25%;
    }
}